@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*---------------------------------Specific paddings/margins/text*/
h1,
h2,
h3,
h4{
    margin: 0;
}

.uppercase{
    text-transform: uppercase;
}

.general-sub{
    font-family: "raleway" sans-serif;
    font-weight: 400;
    color: #af371f;
}

.inline-block{
    display: inline-block;
    color: #fafafa;
}

/*---------------------------------Navbar*/
.navbar{
    margin-bottom: 0;
    border-color: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.25)
}

.navbar-dark .navbar-brand{
    font-weight: bold;
    font-size: 2rem;
    color: #af371f;
    transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -webkit-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;

}

.navbar-dark .navbar-brand:hover{
    color: #fafafa;
}

.navbar-dark 
.navbar-nav
.nav-link{
    color: #af371f;
    font-weight: bold;
    font-size: 1.35rem;
    transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -webkit-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
}

.navbar-dark 
.navbar-nav
.nav-link:hover{
    color: #fafafa;
}

.navbar-dark .navbar-nav 
.active>.nav-link, .navbar-dark 
.navbar-nav .nav-link.active, 
.navbar-dark .navbar-nav 
.nav-link.show, .navbar-dark 
.navbar-nav .show>.nav-link {
    color: #af371f;
    transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -webkit-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
}

.navbar-dark .navbar-nav 
.active>.nav-link, .navbar-dark 
.navbar-nav .nav-link.active, 
.navbar-dark .navbar-nav 
.nav-link.show, .navbar-dark 
.navbar-nav .show>.nav-link:hover{
    color: #fafafa;
}

.navbar .navbar-toggler{
    border: 0;
}

.navbar-dark 
.navbar-toggler 
.navbar-toggler-item{
    color: #af371f;
}

/*---------------------------------About-Me Section*/

 


.name{
    font-family: "raleway", sans-serif;
    font-weight: 300;
    
}

#profile-image{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 40px;
    height: 460px;
    width: 380px;
    border-radius: 8px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.253);
}

hr{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.block-divider{
    width: 600px;
    height: 3px;
    margin-top: 5px;
    background-color: #af371f;
    
}

.about-title{
    font-family: "raleway" sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
}

.about-p{
    font-family: "roboto" sans-serif;
    display: block;
}


/*---------------------------------Footer*/

footer{
    background-color: rgba(0, 0, 0, 0.39);
    min-height: 75px;
}

.cv-pdf{
    color: #fafafa;
    font-weight: 18px;
    text-align: center;
    padding-left: 5px;
    transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -webkit-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
}

.cv-pdf i:hover{
    color: #af371f;
}

.social-links{
    padding-bottom: 10px;
}

.social-links li a i{
    color: #fafafa;
    text-align: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    padding-bottom: 5px;
    transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -webkit-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
}

.social-links li a i:hover{
    color: #af371f;
}