@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*---------------------------------Specific paddings/margins/text*/
h1,
h2,
h3,
h4{
    margin: 0;
}

.uppercase{
    text-transform: uppercase;
}

.inline-block{
    display: inline-block;
    color: #fafafa;
}

/*---------------------------------Navbar*/
.navbar{
    margin-bottom: 0;
    border-color: none;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 0;
}

.navbar-dark .navbar-brand{
    font-family: "raleway", sans-serif;
    font-weight: bold;
    font-size: 2rem;
    color: #af371f;
    text-shadow: #1a3977 2px 2px 4px;
    transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -webkit-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;

}

.navbar-dark .navbar-brand:hover{
    color: #fafafa;
    text-shadow: #1a3977 2px 2px 4px;
}

.navbar-dark 
.navbar-nav
.nav-link{
    font-family: "raleway", sans-serif;
    color: #af371f;
    font-weight: bold;
    font-size: 1.35rem;
    transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -webkit-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
}

.navbar-dark 
.navbar-nav
.nav-link:hover{
    color: #fafafa;
}

.navbar-dark .navbar-nav 
.active>.nav-link, .navbar-dark 
.navbar-nav .nav-link.active, 
.navbar-dark .navbar-nav 
.nav-link.show, .navbar-dark 
.navbar-nav .show>.nav-link {
    color: #af371f;
    transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -webkit-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
}

.navbar-dark .navbar-nav 
.active>.nav-link, .navbar-dark 
.navbar-nav .nav-link.active, 
.navbar-dark .navbar-nav 
.nav-link.show, .navbar-dark 
.navbar-nav .show>.nav-link:hover{
    color: #fafafa;
}

.navbar .navbar-toggler{
    border: 0;
}

.navbar-dark 
.navbar-toggler 
.navbar-toggler-item{
    color: #af371f;
}

/*---------------------------------About-Me Section*/

#about-me{
    background-color: #fafafa;
    width: 100%;
    height:100%;
    padding: 20px 15px 15px 20px; 
 }

.name{
    font-family: "raleway", sans-serif;
    font-weight: bold;  
    margin-top: 60px;  
}

.title{
    font-family: "roboto", sans-serif;
    
}

#profile-image{
    margin-top: 60px;
    margin-bottom: 10px;
    margin-left: 20px;
    float: right;
    height: 590px;
    width: 410px;
    border-radius: 8px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.253);
}

@media screen and (min-width: 768px){
    #profile-image{
        height: 340px;
        width: 240px;
    }
}

@media screen and (min-width: 1024px){
    #profile-image{
        margin-top: 20px;
        height: 450px;
        width: 350px;
    }
}


hr{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.block-divider{
    width: 600px;
    height: 3px;
    margin-top: 5px;
    background-color: #af371f;
    
}

.about-title{
    font-family: "raleway", sans-serif;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
}


.about-icon{
    color: #af371f;
}


.about-p{
    font-family: "roboto", sans-serif;
    margin-right: 5px;
    margin-left: 5px;
    font-size: 16px;
    

}



/*---------------------------------Portfolio section*/

#portfolio{
    background: linear-gradient(to bottom right, #1a3977, #17336b, #142d5f, #122753);
     width: 100%;
    height: 100%;
    padding-bottom: 10px;
}

.work-title{
    margin-top: 70px;
    padding-top: 10px;
    font-family: "raleway", sans-serif;
    color: #fafafa;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
}

.work-info{
    font-family: "roboto", sans-serif;
    color: #e5e5e5;
    font-weight: lighter;
    font-size: 24px;
    margin-top: 10px;
}

.work-info a{
    color: #af371f;
    font-family: "roboto", sans-serif;
}

.card{
    background-color: rgba(175, 55, 31);
    border-radius: 20px;
    width: 100%;
    height: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -webkit-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;   
}

.card:hover{
    background-color: #b73560;
}

.card-title{
    font-size: 24px;
    font-weight: bold;
    color: #fafafa;
    padding-bottom: 2px;
}

.card-subtitle{
    font-size: 20px;
    font-weight: bold;
    color: #e5e5e5;
    padding-bottom: 2px; 
}

.card-text{
    font-size: 18px;
    font-weight: normal;
    color: #bdb3b3;
    margin-top: 5px;
}

.card-link a{
    text-decoration: none;
}

.card-link i{
    background-color: #af371f;
    color: #fafafa;     
}

.icon::before{
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    line-height: 1.5;
    -moz-osx-font-smoothing: grayscale;
    align-items: center;
}

.icon-github::before{
    font-family: "Font Awesome 5 Brands";
    font-weight: 400;
    content: "\f09b";
    
}

.icon-desktop::before{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f108";
}

.fas 
.fab 
.fa-2x 
.fa-desktop
.fa-github
.icon-desktop
.icon-github{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 10px;
    
}
/*---------------------------------Skills*/

#skills{
    width: 100%;
    height: 100vh;
}


.skills-title{
    font-family: "raleway", sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #af371f;
    margin-top: 100px;
    margin-bottom: 5px;
}

.skills-info{
    font-family: "roboto", sans-serif;
    font-size: 20px;
}

.skills-bar{
    margin: 30px 30px;
}

.progress{
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
}

.progress-type{
    font-family: "roboto", sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #fafafa;
    padding: 30px 30px 10px 30px;
    background-color: rgba(25, 25, 25, 0.2);
    position: absolute;
    left: 0;

}

/*---------------------------------Contact section*/

#contact{
    background-image: url('../images/contact-bg.jpg');
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
}

@media screen and (min-width: 1024px;){
    #contact{
        width:100%;
        height: 100vh;
    }


    
}

.contact-title{
    font-family: "raleway", sans-serif;
    color: #af371f;
    margin-top: 50px;
    margin-left: 5px;
    padding-left: 5px;
}


.contact-form{
    margin-top: 5px;
    margin-bottom: 5px;
    color: #fafafa;
       
}

.form-group{
   margin: 15px; 
}

.form-control{
    border: 1px solid #af371f;
    background-color: #fafafa;
    padding: 7px;
    line-height: 1.5;
    font-size: 16px;
    font-family: "roboto", sans-serif;
    box-shadow: 5px 10px 15px #8888;
}


.btn-color{
    background-color: #af371f;
    color: #fafafa;
    font-family: "raleway", sans-serif;
    transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -webkit-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
}

.btn-color:hover{
    background-color: #fafafa;
    color: #af371f;
}



/*---------------------------------Footer*/

footer{
    background-color: rgba(0, 0, 0, 0.39);
    min-height: 40px; 
}

footer h5{
    font-family: "raleway", sans-serif;
    color: #af371f;
}



.cv-pdf i{
    color: #fafafa;
    text-align: center;
    padding-left: 5px;
    transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -webkit-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
}

.cv-pdf i:hover{
    color: #af371f;
}

.social-links{
    padding-bottom: 10px;
}

.icon::before{
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    line-height: 1.5;
    -moz-osx-font-smoothing: grayscale;
    align-items: center;
}

.icon-github::before{
    font-family: "Font Awesome 5 Brands";
    font-weight: 400;
    content: "\f09b";
    
}

.icon-linkedin::before{
    font-family: "Font Awesome 5 Brands";
    font-weight: 400;
    content: "\f08c";
}
 
.fab 
.fa-2x 
.fa-github
.fa-linkedin-square
.icon-github
.icon-linkedin{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 10px;
}

.social-links li a i{
    color: #fafafa;
    text-align: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    padding-bottom: 5px;
    transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -webkit-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
}

.social-links li a i:hover{
    color: #af371f;
}